@layer components {
    .linkClass{
        @apply font-thin uppercase flex items-center p-3 transition-colors duration-200 text-gray-500 dark:text-gray-200 hover:text-blue-500 dark:hover:text-blue-500;
    }
    .linkClassActive{
        @apply font-thin uppercase flex items-center p-3 transition-colors duration-200  text-blue-500 bg-gradient-to-r from-white to-blue-100 border-r-4 border-blue-500 dark:from-gray-700 dark:to-gray-800;
    }
    .tooltip {
        @apply invisible absolute w-auto text-xs rounded shadow-lg p-1 bg-black text-gray-100 ml-14 normal-case;
    }
    .has-tooltip:hover .tooltip {
        @apply visible z-50;
    }
    .laradash-label{
        @apply text-xs text-gray-700 dark:text-gray-400;
    }
    .laradash-input{
        @apply block w-full mt-1 px-3 py-2 text-xs text-black bg-gray-50 dark:bg-gray-600 dark:text-gray-300 border border-gray-300 dark:border-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500 shadow-sm rounded-md;
    }
    .btn-blue{
        @apply px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-blue-600 border border-transparent rounded-lg active:bg-blue-700 hover:bg-blue-800 focus:outline-none;
    }
    .btn-red{
        @apply px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-red-600 border border-transparent rounded-lg active:bg-red-700 hover:bg-red-800 focus:outline-none;
    }
    .btn-green{
        @apply px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-green-600 border border-transparent rounded-lg active:bg-green-700 hover:bg-green-800 focus:outline-none;
    }
    .btn-yellow{
        @apply px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-yellow-600 border border-transparent rounded-lg active:bg-yellow-700 hover:bg-yellow-800 focus:outline-none;
    }
    .btn-gray{
        @apply px-4 py-2 text-sm font-medium leading-5 dark:text-white transition-colors duration-150 dark:bg-gray-600 border dark:border-transparent border-gray-300 hover:bg-gray-200 active:bg-gray-400 rounded-lg dark:active:bg-gray-700 dark:hover:bg-gray-800 focus:outline-none;
    }
    .btn-blue-rounded{
        @apply px-3 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-blue-600 border border-transparent rounded-full active:bg-blue-700 hover:bg-blue-800 focus:outline-none;
    }
    .btn-red-rounded{
        @apply px-3 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-red-600 border border-transparent rounded-full active:bg-red-700 hover:bg-red-800 focus:outline-none;
    }
    .btn-green-rounded{
        @apply px-3 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-green-600 border border-transparent rounded-full active:bg-green-700 hover:bg-green-800 focus:outline-none;
    }
    .btn-yellow-rounded{
        @apply px-3 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-yellow-600 border border-transparent rounded-full active:bg-yellow-700 hover:bg-yellow-800 focus:outline-none;
    }
    .btn-gray-rounded{
        @apply px-3 py-2 text-sm font-medium leading-5 dark:text-white transition-colors duration-150 dark:bg-gray-600 border dark:border-transparent border-gray-300 hover:bg-gray-200 active:bg-gray-400 rounded-full dark:active:bg-gray-700 dark:hover:bg-gray-800 focus:outline-none;
    }
}

main::-webkit-scrollbar {
    width: 6px;
}

main::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

main::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}

main::-webkit-scrollbar-thumb:hover {
    background: #948e8e;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

main::-webkit-scrollbar-track {
    background: #575f72;
    border-radius: 4px;
}

main::-webkit-scrollbar-track:hover,
main::-webkit-scrollbar-track:active {
    background: #d4d4d4;
}
